player-connection-mode=Listen
player-connection-guid=1720230984
player-connection-debug=0
player-connection-project-name=3D-Shooter-Kursovoy
player-connection-ip=26.9.119.149
player-connection-ip=192.168.100.4
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
